body {
    background-color: bisque;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px 15px;
    background-color: gray;
}

.nav a:hover {
    background-color: aliceblue;
}

.nav .active {
    background-color: aliceblue;
}