{% extends "layout.html" %}
        
{% block saturs %}
        <h2>Biešu salāti ar siļķi.</h2>

        <img src="/static/atteli/biesu.jpg" alt="Biešu siļķu salāti.">

        <p><b>Garšīgi salāti!</b></p>

        <h2>Sastāvdaļas.</h2>
        <ul>
            <li>1 siļķe</li>
            <li>2 skābēti gurķi</li>
            <li>2 - 3 vārīti kartupeļi</li>
            <li>1 - 2 tējkarotes mārrutku</li>
            <li>1 glāze skābā krējuma mērces</li>
            <li>loki</li>
            <li>pētersīļu zaļumi</li>
            <li>cieti novārītas olas</li>
        </ul>

        <h2>Pagatavošana.</h2>
        <ol>
            <li>Bieti novāra, atdzesē, notīra un sarīvē uz rupjas rīves.</li>
            <li>Pieliek sakapātu siļķi, sasmalcinātu skābētu gurķi un vārītus kartupeļus, sarīvētus mārrutkus un krējuma mērci.</li>
            <li>Rotā ar sakapātu olu, lokiem un pētersīļu zaļumiem.</li>
        </ol>

        <p><a href="https://gardedis.lv/biesu-salati-ar-silki/">Avots: gardedis.lv</a></p>
{% endblock %}