<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/receptes.css">
    <title>Burkāni ar majonēzi</title>
</head>
<body>
    <h1>Receptes</h1>

    <ul>
        <li><a href="/">Sākums</a></li>
        <li><a href="/receptes">Receptes</a></li>
        <li><a href="/burkanu">Burkāni ar majonēzi</a></li>
        <li><a href="/grauzdinu">Grauzdiņu salāti</a></li>
        <li><a href="/biesu">Biešu siļķu salāti</a></li>
    </ul>

    <section>
        <h2>Burkāni ar majonēzi.</h2>

        <img src="/static/atteli/burkani_majoneze.jpg" alt="Burkānu ar majonēzi salāti.">

        <p><strong>Garšīgi salāti!</strong></p>

        <h2>Savstāvdaļas.</h2>
        <ul>
            <li>svaigas vistas olas - 2 gab.</li>
            <li>400 ml tikai tīrākās rafinētās saulespuķu vai olīveļļas</li>
            <li>smalks pārtikas sāls - 2,5 grami</li>
            <li>0,5 tējk. sinepes</li>
            <li>1 tējk. dabīga, svaiga citrona sula vai atšķaidīta citronskābei</li>
            <li>sasmalcinātu citrona miziņu</li>
        </ul>

        <h2>Pagatavošana.</h2>
        <ol>
            <li>Visām majonēzes pagatavošanai vajadzīgajām sastāvdaļām noteikti jābūt tikai vienai temperatūrai, telpai, tāpēc iepriekš novietojiet tās uz galda.</li>
            <li>Apvienojiet vienas olas dzeltenumu ar sāli un sāka ļoti lēni, izmantojot dakšiņu, apļveida kustībās vienā virzienā, pakāpeniski pievienojot divus pilienus eļļas. Katru porciju nepieciešams ielej tikai pēc tam, kad iepriekš ielejā eļļa tiek absorbēta dzeltenumā.</li>
            <li>Pēc kāda laika eļļas izliešanas daļu var palielināt, tādējādi nokļūstot plānā plūsmā. Bet atkal, tas ir jādara ļoti uzmanīgi, lai majonēze nebūtu sabojāta.</li>
            <li>Sasmalcināšanas process ir jāturpina, līdz puse no sagatavotās eļļas nonāk vienā dzeltenumā. Dariet to pašu ar atlikušo otro dzeltenumu un sviestu.</li>
            <li>Tad sajauciet abas porcijas un uzmanīgi pievienojiet atšķaidītu citronskābi, sinepes un miziņas</li>
        </ol>

        <p><a href="https://lv.food-of-dream.com/publication/33409/">Avots: lv.food-of-dream.com</a></p>
    </section>
        
</body>
</html>