<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grauzdiņa salāti</title>
</head>
<body>

    <h1>Grauzdiņu salāti.</h1>

    <img src="../atteli/grauzdinji.JPG" alt="Biešu siļķu salāti!">

    <p><b>Arī garšīgi salāti!</b></p>

    <h2>Sastāvdaļas.</h2>

    <ul>
        <li>Maize</li>
        <li>2 skābēti gurķi</li>
        <li>Majonēze</li>
        <li>Ķiploki</li>
        <li>kukurūza</li>
        <li>siers</li>
        <li>ola</li>
    </ul>

    <h2>Pagatavošana.</h2>

    <ol>
        <li>Sākumā gatavo grauzdiņus. Ja negribas nodarboties ar cepšanas darbiem, var izmantot jau veikalos nopērkamos ķiploku grauzdiņus. Taču, cik esmu gatavojusi, vislabāk izdodas tomēr ar pašas ceptajiem grauzdiņiem.</li>
        <li>Maizi sagriež nelielos gabaliņos. Lej dziļā pannā eļļu - diezgan daudz, kārtīgi uzkarsē un pa saujiņai ber iekšā maizes gabaliņus un apcep. Cep apmēram 30 sekundes - 1 minūti - līdz zeltainam brūnumam.</li>
        <li>Pēc tam ķeksē gabaliņus laukā, notecina lieko eļļu un ber traukā. Uzkaisa nedaudz sāli. Tā sacep visu sagriezto maizi.</li>
        <li>Kad maize sacepta, kārto traukā, kurā gatavos salātus. Pirmajā kārtā liek grauzdiņus.</li>
        <li>Gatavo ķiploku mērcīti: 4-5 ķiploku daiviņas saspiež un pievieno majonēzi - apmēram 4-5 ēdamkarotes. Samaisa un to tad liek virsū uz grauzdiņiem. Pēc tam nedaudz pārlej pāri parasto majonēzi.</li>
        <li>Pēc tam virsū liek sagrieztus tomātus un atkal pārlej majonēzi.</li>
        <li>Tad pārber konservēto kukurūzu, kurai noliets šķidrums. Un atkal liek majonēzi.</li>
        <li>Un visbeidzot nāk virsū rīvēta siera kārta vai vārītas olas. Un viss.</li>
        <li>Var ēst uzreiz, var ļaut kādu stundu ievilkties. Ar olu gatavotos salātus var gatavot bez tomātiem. Tikai grauzdiņi, kukurūza, ola un majonēze. Taču tad tie salāti liekas par sausiem. Tomāts ļoti labi piedod slapjumu.</li>
        <li>Salāti sātīgi, gardi un ar alu... vispār pasakaini!</li>
    </ol>

    <p><a href="https://www.delfi.lv/tasty/receptes/kartainie-kiploku-grauzdinu-salati-ar-tomatiem-un-kukuruzu.d?id=44850970">Tīmekļa vietne</a></p>  


    <a href="../index.html">Sākums</a>
    <a href="burkani_ar_majonezi.html">burkāni ar majonēzi</a>
    <a href="grauzdinju_salati.html">grauzdiņu salāti</a>
    <a href="biesu_salati.html">biešu salāti ar siļki</a>

</body>
</html>