{% extends "layout.html" %}

{% set lapa = 'forma' %}

{% block css %}
<link rel="stylesheet" href="static/css/kontakti.css">
{% endblock %}

{% block saturs %}
    <h2>Registration Form</h2>
    <p>Please fill out this form with the required information</p>
    <form action='/kontakti' method="POST">
      {% if message %}
      <h3>{{ message }}</h3>
      {% endif %}
      <fieldset>
        <label for="first-name">Enter Your First Name: <input id="first-name" name="first-name" type="text" required /></label>
        <label for="last-name">Enter Your Last Name: <input id="last-name" name="last-name" type="text" required /></label>
        <label for="email">Enter Your Email: <input id="email" name="email" type="email" required /></label>
        <label for="text">Your message: <input id="text" name="text" type="text" required /></label>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}