<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptes</title>
</head>
<body>
    <h1>Receptes</h1>
    <h2>Saturs</h2>

    <ol>
        <li>Burkāni ar majonēzi</li>
        <li>grauzdinju_salati</li>
        <li>biešu-siļķu salāti</li>
    </ol>

    <a href="../index.html">Sākums</a>
    <a href="receptes/burkani_ar_majonezi.html">burkāni ar majonēzi</a>
    <a href="receptes/grauzdinju_salati.html">grauzdiņu salāti</a>
    <a href="receptes/biesu_salati.html">biešu salāti ar siļki</a>
    
</body>
</html>